:root {
    --fede-color: #19A053;
    --fede-color-rgba: rgba(25, 160, 83, 0.616);
    --fede-color-hover: #156e3c;
    --fede-color-active: #37cf79;
    --negative-color: #d84141;
    --negative-color-hover: #c62828;
    --negative-color-active: #ef5350;
    --warning-color:rgb(207, 115, 29);
    --warning-color-hover: rgb(161, 101, 45);
    --warning-color-active: rgb(202, 140, 82);
    --info-color: #2196f3;
    --info-color-hover: #1976d2;
    --info-color-active: #64b5f6;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --back-color: #777777c0;
    --secondary-color: #6b7280;
    --bg-color: #5cac7e;
    --alert-color: #e1f5fe;
}